body{
    background-color: black;
    color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

H1{
    color:aqua;
}

.caixa-principal{
    background-color: brown;
    width: 90%;
    text-align: center;
    padding: 20px;
}
button{
    background-color: azure;
    color:black;
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: beige;
    color: blue;
}